extends layout

block content
  .col-xs-12.col-md-10.col-md-offset-1
    .panel.panel-default.panel-address-summary
      .panel-heading(style='position:relative;')
        strong #[img.image(src='#{display_token_icon(token)}' height="20px")] #{display_token_name(token)}
      table.table.table-bordered.table-striped.summary-table
        thead
          th Token Info
          th Token Icon
        tbody
          tr
            td
              table.table.table-bordered.table-striped.summary-table
                tr
                  td
                    strong Token ID: 
                    | #{token.t_id}
                tr
                  td
                    strong Issuer: 
                    | #{token.meta_of_issuance.data.issuer}
                tr
                  td
                    strong Total Token Supply: 
                    | #{token.total_supply}
                tr
                  td
                    strong Description: 
                    | #{token.meta_of_issuance.data.description}
                tr
                  td
                    strong Issuance Address: 
                    | #[a(href='/address/#{token.issuance_address}') #{token.issuance_address}]
                tr
                  td
                    strong Issuance Txid: 
                    | #[a(href='/tx/#{token.issuance_txid}') #{token.issuance_txid}]
                tr
                  td
                    strong Metadata of Issuance: 
                    if token.meta_of_issuance.data.userData.meta.length > 0
                      each d in token.meta_of_issuance.data.userData.meta
                        <br>
                        strong &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- #{d.key}: 
                        | #{d.value}
                    else
                      | none
                tr
                  td
                    strong Issuance Block Height: 
                    | #{token.first_block}
                tr
                  td
                    strong Locked: (No more tokens can be issued) 
                    | #{token.lock_status}
                tr
                  td
                    strong Divisibility: 
                    | #{token.divisibility}
                tr
                  td
                    strong Aggregation Policy: 
                    | #{token.aggregation_policy}
                tr
                  td
                    strong Number of Issuances: 
                    | #{token.num_issuance}
                tr
                  td
                    strong Number of Burns: 
                    | #{token.num_burns}
                tr
                  td
                    strong Number of Token Holders: 
                    | #{token.num_holders}
                tr
                  td
                    strong Number of Transactions: 
                    | #{token.num_transfers}
            td(style="vertical-align:middle;")
              center
                #[img.image(src='#{display_token_icon(token)}' height="200px")]
    <br>
    .panel.panel-default.panel-address-summary
      .panel-heading(style='position:relative;')
        strong #[img.image(src='#{display_token_icon(token)}' height="20px")] #{display_token_name(token)} Metadata Transactions
      if (token.metadata_utxos && token.metadata_utxos.length > 0)
        table.table.table-bordered.table-striped.history-table
          thead
            th Txid
            th Metadata Size
            th Timestamp
          tbody
            each tx in token.metadata_utxos.reverse()
              - var time = format_unixtime(tx.timestamp)
              - var size = (tx.metadata_size/1024).toFixed(2)
              tr
                td #[a(href='/tx/#{tx.txid}') #{tx.txid}]
                td #{size} kB
                td #{time}
      else
        table.table.table-bordered.table-striped.summary-table
          thead
            th Txid
            th Metadata Size
            th Timestamp
          tbody
            tr
              td None
              td None
              td None
    br
    .footer-padding

