extends layout

block content
  .col-xs-12.col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')       
        strong #{settings.locale.tokens} - Total Count: #{tokens.length}       
      table.table.table-bordered.summary-table 
        thead
          tr
            th #{settings.locale.name}
            th #{settings.locale.tk_description}
            th #{settings.locale.tk_issuer}
            th #{settings.locale.tk_id}
            th #{settings.locale.tk_total_supply}
        tbody
          each t in tokens
            if (t.meta_of_issuance && t.meta_of_issuance.data && t.meta_of_issuance.data.tokenName)
              tr
                td 
                  #[img.image(src='#{display_token_icon(t)}' height="20px")] #[a(href='/token/#{t.t_id}') #{t.meta_of_issuance.data.tokenName}]
                td #{t.meta_of_issuance.data.description}
                td #{t.meta_of_issuance.data.issuer}
                td
                  a(href='/token/#{t.t_id}') #{t.t_id}
                td.text-center #{t.total_supply.toFixed().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}

    .footer-padding  
