extends layout

block content
  .col-xs-12.col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Active Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th ProposalID
            th Votes
        tbody
          each ip in in_progress_proposals
            tr
              td a(href=#{ip.url}) NIP#{ip.p_id}
              td #{ip.name}
                | #{ip.desc}
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Upcoming Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th ProposalID
            th Votes
        tbody
          each up in upcoming_proposals
            tr
              td a(href=#{up.url}) NIP#{up.p_id}
              td #{up.name}
                | #{up.desc}
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Completed Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th ProposalID
            th Votes
        tbody
          each cp in completed_proposals
            tr
              td a(href=#{cp.url}) NIP#{cp.p_id}
              td #{cp.name}
                | #{cp.desc}

    .footer-padding
