extends layout

block content
  .col-xs-12.col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Active Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th Proposal ID
            th Vote Data
        tbody
          if in_progress_proposals.length == 0
            tr
              td None
              td
          each ip in in_progress_proposals
            - var pid = ip.p_id
            tr
              td(style="width: 120px")
                a(href=ip.url, target='_blank') NIP#{ip.p_id}
              td
                div.panel-group
                  if (((active_votes[pid]["Nay"] + active_votes[pid]["Yea"]) / (active_votes[pid]["no_vote"] + active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100) >= 20)
                    if ((active_votes[pid]["Yea"] / (active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100) >= 50)
                      div.panel.panel-success
                        div.panel-heading
                          div.panel-title(style="font-weight: bold")
                            a(href="#collapse#{ip.p_id}" data-toggle="collapse") #{ip.name}
                              #{' '}
                              i.fas.fa-chevron-down
                        div.pannel-collapse.collapse(id="collapse#{ip.p_id}")
                          div.panel-body
                            | #{ip.desc}
                    else
                      div.panel.panel-danger
                        div.panel-heading
                          div.panel-title(style="font-weight: bold")
                            a(href="#collapse#{ip.p_id}" data-toggle="collapse") #{ip.name}
                              i.fas.fa-chevron-down
                        div.pannel-collapse.collapse(id="collapse#{ip.p_id}")
                          div.panel-body
                            | #{ip.desc}
                  else
                    div.panel
                      div.panel-heading(style="background-color: #bbbbbb !important;")
                        div.panel-title(style="font-weight: bold;")
                          a(href="#collapse#{ip.p_id}" data-toggle="collapse") #{ip.name}
                            i.fas.fa-chevron-down
                      div.pannel-collapse.collapse(id="collapse#{ip.p_id}")
                        div.panel-body
                          | #{ip.desc}
                div(style="display: flex; justify-content: space-between;width: 100%; text-align: justify; -ms-text-justify: distribute-all-lines; text-justify: distribute-all-lines;")
                  div(style="font-weight: bold;")
                    | Start Block: #{ip.start_block}
                  div(style="font-weight: bold;")
                    | End Block: #{ip.end_block}
                div.progress.progress-striped.active(style="margin-bottom: 0;")
                  - var yea_width = (active_votes[pid]["Yea"] / (active_votes[pid]["no_vote"] + active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100) + '%'
                  - var nay_width = (active_votes[pid]["Nay"] / (active_votes[pid]["no_vote"] + active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100) + '%'
                  - var nov_width = (active_votes[pid]["no_vote"] / (active_votes[pid]["no_vote"] + active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100) + '%'
                  div.progress-bar.progress-bar-success(role="progressbar" style="width:#{yea_width}")
                  div.progress-bar.progress-bar-danger(role='progressbar' style='width:#{nay_width}")
                  div.progress-bar(role='progressbar' style='background-color: #bbbbbb !important; width:#{nov_width}")
                div(style="display: flex; justify-content: space-around;width: 100%; text-align: justify; -ms-text-justify: distribute-all-lines; text-justify: distribute-all-lines;")
                  div.text-success
                    | Votes Yea: #{active_votes[pid]["Yea"]}
                    #{'(' + (active_votes[pid]["Yea"] / (active_votes[pid]["no_vote"] + active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100).toFixed(1) + '%)')
                  div.text-danger
                    | Votes Nay: #{active_votes[pid]["Nay"]}
                    #{'(' + (active_votes[pid]["Nay"] / (active_votes[pid]["no_vote"] + active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100).toFixed(1) + '%)')
                  div
                    | No Vote: #{active_votes[pid]["no_vote"]}
                    #{'(' + (active_votes[pid]["no_vote"] / (active_votes[pid]["no_vote"] + active_votes[pid]["Yea"] + active_votes[pid]["Nay"]) * 100).toFixed(1) + '%)')

    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Upcoming Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th Proposal ID
            th Vote Data
        tbody
          if upcoming_proposals.length == 0
            tr
              td None
              td
          each up in upcoming_proposals
            tr
              td(style="width: 120px")
                a(href=up.url, target='_blank') NIP#{up.p_id}
              td
                div.panel-group
                  div.panel
                    div.panel-heading(style="background-color: #bbbbbb !important;")
                      div.panel-title(style="font-weight: bold;")
                        a(href="#collapse#{up.p_id}" data-toggle="collapse") #{up.name}
                          i.fas.fa-chevron-down
                    div.pannel-collapse.collapse(id="collapse#{up.p_id}")
                      div.panel-body
                        | #{up.desc}
                div(style="display: flex; justify-content: space-between;width: 100%; text-align: justify; -ms-text-justify: distribute-all-lines; text-justify: distribute-all-lines;")
                  div(style="font-weight: bold;")
                    | Start Block: #{up.start_block}
                  div(style="font-weight: bold;")
                    | End Block: #{up.end_block}
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Completed Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th Proposal ID
            th Vote Data
        tbody
          if completed_proposals.length == 0
            tr
              td None
              td
          each cp in completed_proposals
            tr
              td(style="width: 120px")
                a(href=cp.url, target='_blank') NIP#{cp.p_id}
              td
                div.panel-group
                  if (((cp.completed_votes.Nay + cp.completed_votes.Yea) / (cp.completed_votes.no_vote + cp.completed_votes.Yea + cp.completed_votes.Nay) * 100) >= 20)
                    if ((cp.completed_votes.Yea / (cp.completed_votes.Yea + cp.completed_votes.Nay) * 100) >= 50)
                      div.panel.panel-success
                        div.panel-heading
                          div.panel-title(style="font-weight: bold")
                            a(href="#collapse#{cp.p_id}" data-toggle="collapse") #{cp.name}
                              #{' '}
                              i.fas.fa-chevron-down
                        div.pannel-collapse.collapse(id="collapse#{cp.p_id}")
                          div.panel-body
                            | #{cp.desc}
                    else
                      div.panel.panel-danger
                        div.panel-heading
                          div.panel-title(style="font-weight: bold")
                            a(href="#collapse#{cp.p_id}" data-toggle="collapse") #{cp.name}
                              i.fas.fa-chevron-down
                        div.pannel-collapse.collapse(id="collapse#{cp.p_id}")
                          div.panel-body
                            | #{cp.desc}
                  else
                    div.panel
                      div.panel-heading(style="background-color: #bbbbbb !important;")
                        div.panel-title(style="font-weight: bold;")
                          a(href="#collapse#{cp.p_id}" data-toggle="collapse") #{cp.name}
                            i.fas.fa-chevron-down
                      div.pannel-collapse.collapse(id="collapse#{cp.p_id}")
                        div.panel-body
                          | #{cp.desc}
                div(style="display: flex; justify-content: space-between;width: 100%; text-align: justify; -ms-text-justify: distribute-all-lines; text-justify: distribute-all-lines;")
                  div(style="font-weight: bold;")
                    | Start Block: #{cp.start_block}
                  div(style="font-weight: bold;")
                    | End Block: #{cp.end_block}
                div.progress.progress-striped.active(style="margin-bottom: 0;")
                  div.progress-bar.progress-bar-success(role='progressbar' style='width:'+ (cp.completed_votes.Yea / (cp.completed_votes.no_vote + cp.completed_votes.Yea + cp.completed_votes.Nay) * 100) + '%')
                  div.progress-bar.progress-bar-danger(role='progressbar' style='width:'+ (cp.completed_votes.Nay / (cp.completed_votes.no_vote + cp.completed_votes.Yea + cp.completed_votes.Nay) * 100) + '%')
                  div.progress-bar(role='progressbar' style='background-color: #bbbbbb !important; width:'+ (cp.completed_votes.no_vote / (cp.completed_votes.no_vote + cp.completed_votes.Yea + cp.completed_votes.Nay) * 100) + '%')
                div(style="display: flex; justify-content: space-around;width: 100%; text-align: justify; -ms-text-justify: distribute-all-lines; text-justify: distribute-all-lines;")
                  div.text-success
                    | Votes Yea: #{cp.completed_votes.Yea}
                    #{'(' + (cp.completed_votes.Yea / (cp.completed_votes.no_vote + cp.completed_votes.Yea + cp.completed_votes.Nay) * 100).toFixed(1) + '%)')
                  div.text-danger
                    | Votes Nay: #{cp.completed_votes.Nay}
                    #{'(' + (cp.completed_votes.Nay / (cp.completed_votes.no_vote + cp.completed_votes.Yea + cp.completed_votes.Nay) * 100).toFixed(1) + '%)')
                  div
                    | No Vote: #{cp.completed_votes.no_vote}
                    #{'(' + (cp.completed_votes.no_vote / (cp.completed_votes.no_vote + cp.completed_votes.Yea + cp.completed_votes.Nay) * 100).toFixed(1) + '%)')


    .footer-padding
