extends layout

block content
  .col-xs-12.col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Active Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th Proposal ID
            th Votes
        tbody
          each ip in in_progress_proposals
            tr
              td NIP#{ip.p_id}
              td |
                #{ip.name}
                #{ip.desc}
                #{ip.url}
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Upcoming Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th Proposal ID
            th Votes
        tbody
          each up in upcoming_proposals
            tr
              td NIP#{up.p_id}
              td |
                #{up.name}
                #{up.desc}
                #{up.url}
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')
        strong Completed Votes
      table.table.table-bordered.summary-table
        thead
          tr
            th Proposal ID
            th Votes
        tbody
          each cp in completed_proposals
            tr
              td NIP#{cp.p_id}
              td |
                #{cp.name}
                #{cp.desc}
                #{cp.url}

    .footer-padding
